form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 1.3rem;
}

.input {
  width: 39vw;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap: 2px;
}

input {
  width: 62%;
  /* height: 50%; */
  padding: 10px 15px;
  background-color: #111010;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 17px;
}

input::placeholder {
  color: rgba(240, 248, 255, 0.637);
}