.talent-page {
  position: relative;
  width: 100%;
  // border: 1px solid red;
  height: 100dvh;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }

  .search-home {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    .home-icon {
      border: 1px solid green;
      position: absolute;
      border-radius: 50%;
      padding: 0.2rem;
      cursor: pointer;
      transition: box-shadow 200ms ease-in-out;
      left: 2rem;

      &:hover {
        box-shadow: 0 0 10px var(--color-primary);
      }

      svg {
        font-size: 2rem;
        color: var(--color-primary);
      }
    }

    // search bar
    .search-con {
      border: 1px solid green;
      width: 25rem;
      border-radius: 100px;
      height: 3rem;
      padding: 0.1rem 0.7rem;
      position: relative;
      box-shadow: 0 0 0.1rem var(--color-primary);
      justify-self: flex-end;

      display: flex;
      justify-content: space-between;
      right: 2rem;

      input {
        border: none;
        outline: none;
        font-size: 1;
        border-radius: 100px;
        width: 100%;
        font-size: 1.2rem;
      }

      svg {
        font-size: 1.5rem;
        color: var(--color-primary);
      }

      #search {
        width: 3rem;
      }
    }
  }

  .profile-info-card {
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    max-width: 25rem;
    min-width: 25rem;
    padding: 1rem;

    .info-con {
      display: flex;
      justify-content: space-between;

      .p-img {
        width: 5rem;
        border-radius: 8rem;
        overflow: hidden;
        box-shadow: 0 0 2px var(--color-primary);
      }
    }
  }

  .profile-add-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
  }
}
