

.talent-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 2rem;
    height: 6rem;
    box-shadow: 1px 0px 6px rgba(grey, 2);
    z-index: 1000;

    .nav-con {
        display: flex;
        gap: 3rem;

        h3 {
            color: green;
            font-weight: bold;
            font-size: larger;
            text-decoration: underline;
            line-height: 20px;
        }

        .nav-items-con {
            display: flex;
            gap: 2rem;

        }
    }
}